#pane
{
    -fx-background-image: url("notebook3.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

#align
{
    -fx-fill: rgba(0,0,0,0);
}