#pane
{
    -fx-background-image: url("notebook3.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 2020 2500;
    -fx-background-position: top top;
}

#transparent
{
    -fx-fill: rgba(0,0,0,0);
}